main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 50px;
}

.main-menu {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid rgb(80, 26, 73);
    font-size: 16px;
    color: rgb(80, 26, 73);
    font-weight: 400;
    cursor: pointer;
}

.report-area {
    width: 1800px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-text {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    background-color:  rgb(247, 230, 242);
    opacity: 0.8;
}

.summarytext-area {
    width: 480px;
    height: 590px;
    border: 1px solid rgb(248, 195, 232);
    color: rgb(80, 26, 73);
    margin: 10px;
}
.summarytext-area p {
    color: rgb(80, 26, 73);
}

.graph {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    background-color:  rgb(247, 230, 242);
    opacity: 0.8;
}

#exit {
    margin-left: 1400px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(80, 26, 73);
    font-size: 16px;
    color: rgb(80, 26, 73);
    font-weight: 200;
    cursor: pointer;
}