main {
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 10px;
}

.main-menu {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buttons {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid rgb(80, 26, 73);
    font-size: 16px;
    color: rgb(80, 26, 73);
    font-weight: 400;
    cursor: pointer;
    box-shadow: 3px 6px #747474;
}

.report-area {
    width: 1800px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-text {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.summarytext-area {
    width: 480px;
    height: 600px;
    color: rgb(80, 26, 73);
    margin: 10px;
    padding: 5px;
}

.summarytext-area h2 {
    margin-left: 10px;
}

.summarytext-area p {
    color: rgb(65, 54, 21);
    font-size: 14px;
    margin: 10px;
    padding: 15px;
    border: 4px white solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.graph {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    opacity: 0.8;
}

#exit {
    margin-left: 1400px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(80, 26, 73);
    font-size: 16px;
    color: rgb(80, 26, 73);
    font-weight: 200;
    cursor: pointer;
    box-shadow: 3px 6px #747474;
}

.chat-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-main p {
    background-color: white;
    border-radius: 8px;
    border: 2px solid rgb(80, 26, 73);
    height: 30px;
    padding: 10px 15px;
    box-shadow: 3px 6px #747474;
    font-size: 20px;
}

#question-select {
    height: 45px;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.animate__animated.animate__slideInUp {
    animation-duration: 4s;
}

#menult {
    background-color: #ffb14b;
    border: none;
    cursor: pointer;
}

#top-cat {
    width: 80px;
    height: auto;
}
.topbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}