:root {
  /* background-color: rgb(246, 208, 241); */
  /* background-color: #fbc072; */
  background: radial-gradient(circle, #fccb8c, #ffb14b);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}